@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/*Asterisk wildcard selector used to overide default browser added styles*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --------- Global style */
body {
    background: url("../images/2022_FIFA_World_Cup.svg.png") no-repeat center center/cover;
    min-height: 100vh;
    display: block;
    flex-direction: column;
    background-color: white;
    font-family: "Open Sans", sans-serif;
    color: black;
    width: 100%;

}

/* --------- Heading */
.heading {
    text-align: center;
    font-size: 3rem;
    margin-top: 20px;
}

.logo {
    height: 30px;
    padding-right: 5px;
}

.quiz-area {
    text-align: center;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.correct-check {
    display: none;
}

.incorrect-check {
    display: none;
}

.set {
    margin: 10px 0;
}

input[type=text] {
    margin-top: 30px;
    font-size: 20px;
}

#resize {
    font-size: 20px;
}

button[type=submit] {
    margin-top: 50px;
    font-size: 30px;
}

.paragragh {
    margin: 10px 0;
}

.cover {
    width: 50%;
    padding: 12px 20px;
    margin: 5px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.question {
    display: none;
}

#submit {
    display: none;
    bottom: 0;
    background-color: green;
    color: black;
    font-size: 20px;
    text-align: left;
    margin-top: 15px;

}

.scores-area {
    display: none;
    bottom: 0;
    text-align: center;
}

.scores {
    display: inline-block;

}

#correct {
    color: green;
}

#incorrect {
    color: red;
}

#counter {
    color: blue;
    padding: 0 5px;
}