@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/*Asterisk wildcard selector used to overide default browser added styles*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --------- Global style */
body {
    background: url("../images/fifa-world-cup.svg.png") no-repeat center center/cover;
    background-size: 900px 700px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: "Open Sans", sans-serif;
    color: black;
    width: 100%;
    flex: 1 0 auto;
}

/* --------- Heading */
.heading {
    text-align: center;
    font-size: 3rem;
    margin-top: 20px;
}

.logo {
    height: 30px;
    padding-right: 5px;
}

/* Quiz area*/
.quiz-area {
    text-align: center;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.correct-check {
    display: none;
}

.incorrect-check {
    display: none;
}

.set {
    margin: 10px 0;
    font-size: 20px;
}

input[type=text] {
    margin-top: 30px;
    font-size: 20px;
    width: 40%;
}

#resize {
    font-size: 20px;
}

button[type=submit] {
    margin-top: 50px;
    font-size: 30px;
}

.paragragh {
    margin: 10px 0;
}

.cover {
    width: 50%;
    padding: 12px 20px;
    margin: 5px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.question {
    display: none;
}

#submit {
    display: none;
    background-color: green;
    color: white;
    font-size: 20px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 5px;
}

.scores-area {
    display: none;
    bottom: 0;
    text-align: center;
}

.scores {
    display: inline-block;

}

#correct {
    color: green;
}

#incorrect {
    color: red;
}

/*Feedback styling*/
.feedback-div {
    margin-top: 5px;
    margin-bottom: 10px;
    display: none;
}

#quiz-review {
    font-size: 20px;
}

.submit-feedback>a {
    text-decoration: none;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    font-size: 25px;
}

#feedback-info {
    font-size: 20px;
}

/*Media query: phones (280px and up)*/
@media screen and (min-width:280px) {
    body {
        background-size: 200px 450px;
        width: 100%;
    }

    input[type=text] {
        width: 80%;
    }

}

/*Media query:Large and lanscape phone(576px and up)*/
@media screen and (min-width:576px) {
    body {
        background-size: 400px 360px;
        width: 100%;
    }

    input[type=text] {
        width: 300px;
    }

    /*Media query: tablets and larger (768px and up)*/
    @media screen and (min-width:768px) {
        body {
            background-size: 600px 650px;
            width: 100%;
            display: flex;

        }

        .heading {
            margin-top: 50px;
        }
    }